/* SongList.css */
.song-list {
    display: flex;
    flex-direction: column;
}

.song-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
}

.song-thumbnail {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    object-fit: none;
    border-radius: 6px;
}

.song-info {
    flex-grow: 1;
}
.song-info-title {
    font-size: 16px;
    color: $clr3;
    &.artist {
        color: $clr4;
        font-size: 14px;
    }
}

.song-title {
    margin: 0;
}

.play-button {
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}