/* SongList.css */
.song-list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.song-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    height: 56px;
    padding: 0 16px;
    &:hover {
        background-color: $gray6;
    }   
}

.song-index {
    margin-right: 10px;
}   


.play-button {
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}