.station-preview {
  display: flex;
  color: $clr3;
  margin-bottom: 10px;
}

.playlist-image-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 6px; /* Adjust for rounded corners */
  margin-right: 10px;
}

.playlist-cover-image {
  width: 48px;
  height: 48px;
  border-radius: 6px; /* Adjust for rounded corners */
  object-fit: none;
  &.liked {
    object-fit: cover;
  }
}

.playlist-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: $clr3;
}

.playlist-name {
  margin-left: 10px;
  font-size: 14px; /* Adjust based on your design */
  color: $clr5; /* Darker text color for the name */
}

.playlist-type {
  font-size: 14px; /* Adjust based on your design */
  color: $clr4; /* Lighter text color for the description */
  margin-left: 10px;
}

.playlist-track-count {
  font-size: 14px; /* Adjust based on your design */
  color: #666; /* Lighter text color for the track count */
}