* {
    box-sizing: border-box;
    /*outline: 1px lightgray solid    ;*/
    
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr4;
}

body {
    font-size: rem(16px);
    margin: 0;
    /*max-width: 1024px;*/
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
}


section, main, footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.popover-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%; /* Adjust these to control the popover position */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the popover */
    background-color: white;
    padding: 20px;
    width: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 100; /* Ensure it's above other content */
  }
  .parent-container { /* The parent element of your popover */
    position: relative;
  }
