@font-face {
   // font-family: "Nunito Sans", sans-serif;
   // src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
}
@font-face {
    // font-family: montserrat;
    // src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    font-stretch: PERCENTAGE_RANGE_LOW_TO_HIGH; /* Note that font-stretch is a % of normal width */
    font-style: NORMAL_OR_ITALIC; /* See note below */
    font-weight: NUMERIC_RANGE_LOW_TO_HIGH;
    src: url(../../fonts/Nunito/Nunito-VariableFont_wght.ttf);
  }
